* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0b0b0b;
  color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  padding: 80px 20px;
  max-width: 1200px;
  margin: auto;
}

h1 {
  font-size: 3rem;
  letter-spacing: 2px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

p {
  color: #cfcfcf;
}
.btn {
  display: inline-block;
  margin: 0 10px;
  padding: 12px 20px;
  border: 1px solid #fff;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.btn:hover {
  background: white;
  color: black;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.card img {
  width: 100%;
  border-radius: 6px;
}

.card p {
  margin-top: 10px;
  text-align: center;
}
